.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 375px;
  height: 100%;
  max-height: 550px;
  background-color: #000;
  border-radius: 10px;
  /* overflow: hidden; */
}

.progressBarContainer {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0 10px;
}

.progressBar {
  height: 5px;
  width: 100%;
  background-color: #d9d9d980; /* Gray color */
  position: relative;
}

.progressBar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(var(--progress) * 100%);
  background-color: #ffffff; /* White color */
}
.progressBarCompleted {
  background-color: #ffffff; /* White color */
}

.info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}
.heading {
  text-transform: capitalize;
}
.description {
  color: rgb(188, 188, 188);
  font-size: 1.4rem;
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: absolute;
  top: 30px;
  left: 0;
  color: white;
  width: 100%;
  cursor: pointer;
}
.prev {
  z-index: 20;
  color: white;
  position: fixed;
  top: 50%;
  left: 25%;
  cursor: pointer;
}
.next {
  z-index: 20;
  color: white;
  position: fixed;
  top: 50%;
  right: 25%;
  cursor: pointer;
}
