.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 375px;
  height: 100%;
  max-height: 550px;
  background-color: #000;
  border-radius: 10px;
}

.progressBarContainer {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0 15px;
}

.progressBar {
  height: 5px;
  width: 100%;
  background-color: #d9d9d980; /* Gray color */
  position: relative;
}

.progressBar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(var(--progress) * 100%);
  background-color: #ffffff; /* White color */
}
.progressBarCompleted {
  background-color: #ffffff; /* White color */
}

.para {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
