.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navBtns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}
.navBtn {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.red {
  background-color: #ff7373;
}
.blue {
  background-color: #73abff;
}
.bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
}
.userProfile,
.menu {
  width: 25px;
  margin-left: 5px;
  cursor: pointer;
}
