.wrapper {
  width: calc(100% / 4 - 20px);
  min-width: 250px;
  height: 550px;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid red;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center; /* Center content horizontally */
  padding: 10px; /* Optional padding */
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 1rem;
}
.info h3 {
  font-size: 1.4rem;
  text-transform: capitalize;
}
.info p {
  font-size: 1rem;
  padding: 0.5rem 0;
}
